<section class="relative px-6 md:px-8 pt-2 md:pt-3 pb-16 md:pb-24 " style="background-color: #000000;"
>
  <div class="max-w-7xl mx-auto">
    
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-6">
      <div class="px-5 py-6 bg-feature-green/5 border-2 border-feature-green rounded-lg transition-all duration-300 feature-card feature-card-green">
        <h3 class="text-xl md:text-2xl font-bold text-white mb-3">
            Endpoint testing
        </h3>
        <p class="text-sm md:text-base text-gray-400 leading-relaxed">
            Send a request with ease an check if it returns what you need. 
        </p>
      </div>

      <div class="px-5 py-6 bg-feature-orange/5 border-2 border-feature-orange rounded-lg transition-all duration-300 feature-card feature-card-orange">
          <h3 class="text-xl md:text-2xl font-bold text-white mb-3">
          Authentication
        </h3>
        <p class="text-sm md:text-base text-gray-400 leading-relaxed">
          Use authentication headers and test your must protected endpoints.
        </p>
      </div>

      <div class="px-5 py-6 bg-feature-blue/5 border-2 border-feature-blue rounded-lg transition-all duration-300 feature-card feature-card-blue">
        <h3 class="text-xl md:text-2xl font-bold text-white mb-3">
          OpenAPI Spec
        </h3>
        <p class="text-sm md: text-base text-gray-400 leading-relaxed">
          Just import your spec file and you are good to go.
        </p>
      </div>

      <div class="px-5 py-6 bg-feature-red/5 border-2 border-feature-red rounded-lg transition-all duration-300 feature-card feature-card-red">
        <h3 class="text-xl md:text-2xl font-bold text-white mb-3">
          Clean UI, Dev Ready
        </h3>
        <p class="text-sm md:text-base text-gray-400 leading-relaxed">
          Easy to read for your clients but still powerful for developers.
        </p>
      </div>
      

    </div>
  </div>
</section>