{
	"openapi": "3.0.3",
	"info": {
		"title": "Ledgerly API",
		"description": "Ledgerly is a SaaS platform that allows small businesses to manage clients, create invoices, and track payments securely.\n",
		"version": "1.0.0",
		"contact": {
			"name": "Ledgerly API Support",
			"email": "api-support@ledgerly.io"
		}
	},
	"servers": [
		{
			"url": "https://api.ledgerly.io/v1",
			"description": "Production"
		},
		{
			"url": "https://sandbox.api.ledgerly.io/v1",
			"description": "Sandbox"
		}
	],
	"security": [
		{
			"BearerAuth": []
		}
	],
	"tags": [
		{
			"name": "Authentication"
		},
		{
			"name": "Users"
		},
		{
			"name": "Clients"
		},
		{
			"name": "Invoices"
		},
		{
			"name": "Payments"
		}
	],
	"paths": {
		"/auth/register": {
			"post": {
				"tags": ["Authentication"],
				"summary": "Register a new business account",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/RegisterRequest"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Account created successfully"
					},
					"400": {
						"$ref": "#/components/responses/BadRequest"
					}
				}
			}
		},
		"/auth/login": {
			"post": {
				"tags": ["Authentication"],
				"summary": "Authenticate user and return access token",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/LoginRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Authenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AuthToken"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					}
				}
			}
		},
		"/users/me": {
			"get": {
				"tags": ["Users"],
				"summary": "Get current authenticated user",
				"responses": {
					"200": {
						"description": "User profile",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/User"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					}
				}
			}
		},
		"/clients": {
			"get": {
				"tags": ["Clients"],
				"summary": "List clients",
				"parameters": [
					{
						"in": "query",
						"name": "page",
						"schema": {
							"type": "integer",
							"minimum": 1
						},
						"example": 1
					},
					{
						"in": "query",
						"name": "limit",
						"schema": {
							"type": "integer",
							"maximum": 100
						},
						"example": 20
					}
				],
				"responses": {
					"200": {
						"description": "Paginated list of clients",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PaginatedClients"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": ["Clients"],
				"summary": "Create a new client",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ClientCreate"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Client created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Client"
								}
							}
						}
					}
				}
			}
		},
		"/clients/{clientId}": {
			"get": {
				"tags": ["Clients"],
				"summary": "Get a client by ID",
				"responses": {
					"200": {
						"description": "Client found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Client"
								}
							}
						}
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			},
			"put": {
				"tags": ["Clients"],
				"summary": "Update client information",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ClientUpdate"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Client updated"
					}
				}
			},
			"delete": {
				"tags": ["Clients"],
				"summary": "Delete a client",
				"responses": {
					"204": {
						"description": "Client deleted"
					}
				}
			}
		},
		"/invoices": {
			"post": {
				"tags": ["Invoices"],
				"summary": "Create a new invoice",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/InvoiceCreate"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Invoice created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Invoice"
								}
							}
						}
					}
				}
			},
			"get": {
				"tags": ["Invoices"],
				"summary": "List invoices",
				"responses": {
					"200": {
						"description": "List of invoices",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Invoice"
									}
								}
							}
						}
					}
				}
			}
		},
		"/invoices/{invoiceId}/pay": {
			"post": {
				"tags": ["Payments"],
				"summary": "Register a payment for an invoice",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PaymentCreate"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Payment registered",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Payment"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"securitySchemes": {
			"BearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "JWT"
			}
		},
		"schemas": {
			"RegisterRequest": {
				"type": "object",
				"required": ["email", "password", "businessName"],
				"properties": {
					"email": {
						"type": "string",
						"format": "email"
					},
					"password": {
						"type": "string",
						"minLength": 8
					},
					"businessName": {
						"type": "string"
					}
				}
			},
			"LoginRequest": {
				"type": "object",
				"required": ["email", "password"],
				"properties": {
					"email": {
						"type": "string"
					},
					"password": {
						"type": "string"
					}
				}
			},
			"AuthToken": {
				"type": "object",
				"properties": {
					"accessToken": {
						"type": "string"
					},
					"expiresIn": {
						"type": "integer",
						"example": 3600
					}
				}
			},
			"User": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"format": "uuid"
					},
					"email": {
						"type": "string"
					},
					"businessName": {
						"type": "string"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"Client": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"format": "uuid"
					},
					"name": {
						"type": "string"
					},
					"email": {
						"type": "string"
					},
					"createdAt": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"ClientCreate": {
				"type": "object",
				"required": ["name"],
				"properties": {
					"name": {
						"type": "string"
					},
					"email": {
						"type": "string"
					}
				}
			},
			"ClientUpdate": {
				"type": "object",
				"properties": {
					"name": {
						"type": "string"
					},
					"email": {
						"type": "string"
					}
				}
			},
			"PaginatedClients": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Client"
						}
					},
					"meta": {
						"type": "object",
						"properties": {
							"page": {
								"type": "integer"
							},
							"limit": {
								"type": "integer"
							},
							"total": {
								"type": "integer"
							}
						}
					}
				}
			},
			"Invoice": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"format": "uuid"
					},
					"clientId": {
						"type": "string"
					},
					"amount": {
						"type": "number",
						"format": "float"
					},
					"status": {
						"type": "string",
						"enum": ["draft", "sent", "paid"]
					},
					"issuedAt": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"InvoiceCreate": {
				"type": "object",
				"required": ["clientId", "amount"],
				"properties": {
					"clientId": {
						"type": "string"
					},
					"amount": {
						"type": "number"
					}
				}
			},
			"Payment": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"invoiceId": {
						"type": "string"
					},
					"amount": {
						"type": "number"
					},
					"paidAt": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"PaymentCreate": {
				"type": "object",
				"required": ["amount"],
				"properties": {
					"amount": {
						"type": "number"
					}
				}
			}
		},
		"responses": {
			"BadRequest": {
				"description": "Invalid request payload"
			},
			"Unauthorized": {
				"description": "Authentication required or failed"
			},
			"NotFound": {
				"description": "Resource not found"
			}
		}
	}
}
