@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
	--color-primary-foreground: hsl(var(--primary-foreground));
	--color-sidebar-primary: hsl(var(--rhinolabs-sidebar-primary));
	--color-sidebar-primary-foreground: hsl(
		var(--rhinolabs-sidebar-primary-foreground)
	);

	--color-get: hsl(240 6% 10%);
	--color-post: hsl(240 6% 10%);
	--color-put: hsl(240 6% 10%);
	--color-patch: hsl(240 6% 10%);
	--color-delete: hsl(0 72% 51%);
	--color-head: hsl(240 6% 10%);
	--color-options: hsl(240 6% 10%);
	--color-connect: hsl(240 6% 10%);
	--color-trace: hsl(240 6% 10%);
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}
